streamlit
docx2txt
pdfplumber
pandas
spacy==3.4.1
Pillow
numpy
easyocr
torch
opencv-python-headless

# This is the crucial line that installs the spaCy model package
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1.tar.gz